/* GEN */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: aliceblue;
}

/* HEADER */
.header {
background-color: lightsteelblue;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: larger;
display: inline-block;
justify-content: space-between;
position: relative;
width: 25%;
}

header h1 {
    color: linen;
}

header h2 .name {
    color: steelblue;
    font-style: italic;
}

/* NAV BAR */

.nav{
    background-color: lightskyblue;
    color: steelblue;
    position: relative;
    text-align: center;
    width: 75%;
    left: 25%;
    height: 240px;
    margin-top: -34px;
    position: inherit;
    overflow: hidden;
}

.nav a:hover {
    color:azure
}

.horizontal {
    list-style-type: none;
    position: relative;
    justify-content: space-between;
    display: inline;
    margin:0px;
    padding:0px;
    float: inline-end;
}

/* BODY */
.body {
    font-family: Arial;
    margin: 0;
    background-color: lightyellow;
  }
