.header {
background-color: lightsteelblue;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: larger;
text-decoration-color: lightslategray;
}

.nav{
    background-color: lightskyblue;
}

body {
    font-family: Arial;
    margin: 0;
  }
